<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text to Audio Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lesson.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/credentials.css') }}">

</head>

<body>
    <div class="navbar">
        <ul>
            <div class="logo">
                <img src="../static/img/ublogo.png" alt="University Logo">
            </div>
            <li><a href="/LandingPage">Home</a></li>
            <li><a href="/convert">Convert</a></li>
            <li><a href="/book">Lessons</a></li>
            <li id="userContainer">
                <img src="/static/img/user.png" alt="User Icon" id="userIcon">
                <div id="userDropdown">
                  <p>Username</p>
                  <p style="font-size: 12px;  margin-top: -10px;">User ID: <span>000000</span></p>
                  <a href="/profile"><button id="profileButton">Profile</button></a>
                  <button id="logoutButton">Logout</button>
                </div>
              </li>
        </ul>
    </div>

    <!-- Centered Container for Books Grid -->
    <div class="container">
        <div class="head-con">
            <h1> BOOKS </h1>
        </div>

        <div class="con-card">
            <section class="books-grid">
                <div class="book-card">
                    <a href="/lesson/laborlaw1">
                        <img src="../static/img/labor_laws.png" alt="Book 1"></a>
                    <h3>Labor Laws and Legislation</h3>
                    <p>Atty. Alden Reuben B. Luna Ph.L.</p>
                </div>
                <!-- Add more book-card divs as needed -->
            </section>

            <section class="books-grid">
                <div class="book-card">
                    <a href="/lesson/laborlaw1">
                        <img src="../static/img/labor_laws.png" alt="Book 1"></a>
                    <h3>Labor Laws and Legislation</h3>
                    <p>Atty. Alden Reuben B. Luna Ph.L.</p>
                </div>
                <!-- Add more book-card divs as needed -->
            </section>

            <section class="books-grid">
                <div class="book-card">
                    <a href="/lesson/laborlaw1">
                        <img src="../static/img/labor_laws.png" alt="Book 1"></a>
                    <h3>Labor Laws and Legislation</h3>
                    <p>Atty. Alden Reuben B. Luna Ph.L.</p>
                </div>
                <!-- Add more book-card divs as needed -->
            </section>

        </div>
    </div>

    <!-- <button class="floating-button" onclick="window.location.href='#fileC'"><ion-icon name="mic"></ion-icon></button> -->

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='credentials.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/TextPlugin.min.js"></script>
</body>

</html>